.footer {
  color: #fff;
  background-color: #0a2850;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer__circle {
  background-color: #2f80ed;
  border-radius: 100%;
  top: -128px;
  left: -44px;
  z-index: 0;
  position: absolute;
  width: 340px;
  height: 340px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin: 60px 80px 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  font-weight: bold;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 20px 0 0;
  flex-direction: column;
}

.footer__list-item {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-size: 16px;
  line-height: 20px;
  margin: 108px 80px 60px;
}
