.footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Changed from blue #0a2850 */
}

.footer__copyright {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  opacity: 0.7;
}
