.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  display: block;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 709px;
  font-style: normal;
  font-size: 58px;
  letter-spacing: -1px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 183px;
  margin-left: 80px;
}

.header__description {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 683px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  justify-content: space-between;
  margin-top: auto;
  padding: 0 80px 40px 80px;
  display: flex;
  align-items: end;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}
