.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  right: 80px;
  top: 30px;
  padding: 0;
  margin: 8px 0 0;
  height: 30px;
  position: relative;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
