* {
  box-sizing: border-box;
}

body {
  background-color: #2a2c2f;
}

.page {
  width: 100%;
  margin: auto;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "InterVariable", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
