.page {
  background-image: url("../images/background_header.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
