.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  padding-top: 100px;
  margin: 0px auto 80px;
  line-height: 52px;
  font-weight: 500;
  font-size: 44px;
}

.reservation__form {
  margin: 0 auto 120px;
}
