.page {
  background-image: url("../images/background_header.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: 30px;
  top: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin: 8px 0 0;
  height: 30px;
  position: relative;
  right: 80px;
  top: 30px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 58px;
  letter-spacing: -1px;
  line-height: 76px;
  font-weight: 500;
  margin-top: 183px;
  margin-left: 80px;
}

.header__description {
  max-width: 683px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.header__footer {
  bottom: 40px;
  left: 80px;
  position: relative;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
  color: #ffffff;
  max-width: 580px;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
}

.recipes__videos {
  margin: 80px auto 215px;
  display: flex;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__video-caption {
  margin-top: 24px;
  color: #ffffff;
}
